<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout :: htmlhead">
	</head>
	<body>
		<div class="container">
			<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link disabled border border-danger" href="https://github.com/marcelopickler" target="_blank"  tabindex="-1" aria-disabled="true">Github</a>
  </li>
  <li class="nav-item">
  <a class="nav-link text-dark border border-danger"><h7><b>"Te ajudando a lembrar"     </h7></a>
  </li>
</ul>
			
			<a href="form.html" th:href="@{/lembrete/novo}" 
				class="btn btn-secondary btn-lg" role="button">Novo</a>
			<table class="table" id = "lembretes">
				<thead class="thead-light border border-danger"> 
					<tr>
						<th scope="col"><h3>Conteudo<p></p></h3></th>						
						<th scope="col"><h3>Data da Prova </h3><p>Formato: DD/MM/AAAA</th>						
						<th scope="col"><h3>Materia<p></p></h3></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr scope="row" th:each="umlembrete : ${lembretes}">
						<td th:text="${umlembrete.conteudo}"></td>
						<td th:text="${umlembrete.data_prova}"></td>						
						<td th:text="${umlembrete.materia}"></td>
						<td><a th:href="@{'/lembrete/alterar/' + ${umlembrete.id}}" class="btn btn-dark btn-lg">Alterar</a>
						<button class="btn btn-danger btn-lg js-delete" th:data-customer-id="${umlembrete.id}">Deletar</button>
						</td>
						
						
					</tr>
				</tbody>
			</table>
		</div>
		<div th:include="layout :: footer" id="footer">(footer)</div>
		<script type = "text/javascript">
			$(document).ready(function(){
				$("#lembretes").on("click",".js-delete",function(){
					var button = $(this);
					
					bootbox.confirm("Deseja mesmo excluir este lembrete?",
							function (result){
						if(result){
							$.ajax({
								url: "/lembrete/delete/"+
								button.attr("data-customer-id"),
								method: "GET",
								success: function(){
									window.location.href = "/lembrete/"
								}
							});
						}
					});
				});
			});
		
		</script>
	</body>
</html>




